/* ============= src/styles/form.module.css ===========*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, #007ace, #0096f5); /* Adjust gradient colors if needed */
  color: white; /* Ensuring text color is visible on a dark background */
  font-family: 'Inter', sans-serif; /* Apply the Inter font family */
}

.logo {
  margin-bottom: 1rem;
  width: 150px; /* Adjust size as needed */
}

.title {
  font-size: 2rem; /* Larger font size for visibility */
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.formInput {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #ccc;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  width: 100%;
}

.submitButton {
  background-color: #0056b3; /* Adjust button color */
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem; /* Tailwind's rounded-md */
  cursor: pointer;
  width: 100%;
}

.submitButton:hover {
  background-color: #004494; /* Adjust hover color */
}
