/* table.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(to right, #008fee, #005a92);
  color: #ffffff;
  background-image: linear-gradient(to right, #015b97, #0096f5);
  font-family: 'Arial', sans-serif; /* Use a similar sans-serif font */
  border-radius: 0.5rem; /* Tailwind's rounded-md */
  margin: 1rem;
}

.logo {
    width: 150px;
    height: 150px;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 2, 2);
}

.title {
  margin-bottom: 1rem;
  font-size: 2rem; /* Larger font size for labels */
  color: #ffffff; /* White color for better readability */
  font-weight: bold; /* Bold font weight for labels */
  text-align: center;
}

.label {
  margin-bottom: 0.5rem;
  font-size: 1.25rem; /* Larger font size for labels */
  color: #ffffff; /* White color for better readability */
  font-weight: bold; /* Bold font weight for labels */
  text-align: center;
}

.table {
  width: 80%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-color: #ffffff;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 2, 2);
  border-radius: 0.375rem;
}

.table th {
  background-color: #08448a;
  color: white;
  padding: 8px;
  border: 2px solid #ffffff;
  text-align: center;
  font-weight: 200;
  border: whitesmoke 1px solid;
}

.table td {
  background-color: #298cfd;
  border: 2px solid #ffffff;
  padding: 8px;
  text-align: left;
  text-align: center;
  cursor: pointer;
};

.button {
  padding: 10px 15px;
  margin: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}